{{> admin-tabs route='restaurants'}}
{{> messages}}
<div class="row">
    <div class="col">
      <a class="btn btn-success" href='/admin/restaurant/create'>
        New Restaurant
      </a>
    </div>
</div>
</br>
<table class='table align-middle'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Id</th>
      <th scope='col'>Name</th>
      <th scope='col'>Category</th>
      <th scope='col'>Telephone</th>
      <th scope='col'>Functions</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
      <tr>
        <th scope='row'>{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.Category.name}}</td>
        <td>{{this.tel}}</td>
        <td>
          <a
            class='btn btn-outline-secondary me-3'
            href='/admin/restaurant/{{this.id}}'
          >
            Details
          </a>
          <a
            class='btn btn-outline-success me-3'
            href='/admin/restaurant/{{this.id}}/edit'
          >
            Edit
          </a>
          <form
            action='/admin/restaurant/{{this.id}}?_method=DELETE'
            method='POST'
            style='display: inline;'
          >
            <button type='submit' class='btn btn-outline-danger' onclick="return confirm(`Confirm to delete {{this.name}} ?`)">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>