<div class='row mt-5 mb-3'>
  <div class='col-md-4'>
    <img
      class='img-responsive center-block mb-5'
      src='{{queryUser.image}}'
      style='width: 250px; transition: opacity 0.5s; opacity:0;'
      onload='this.style.opacity=1;'
    />
  </div>

  <div class='col-md-8'>
    <div class='row'>
      <h2 class='col-2' style='display: inline;'>{{queryUser.name}}</h2>
      {{#ifCond user.id queryUser.id}}
        <a class='btn btn-outline-success col-2 d-flex justify-content-center align-items-center' href='/user/{{user.id}}/edit' style='display: inline;'>Edit</a>
      {{/ifCond}}
    </div>
    <h3>{{queryUser.email}}</h3>
    <div class='d-flex flex-nowrap gap-3 mb-3'>
      <button type='button' class='btn position-relative' disabled>
        <i class='fa-solid fa-comment-dots fa-lg me-1' type='button'style='color:black'></i>
        <span class='position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark'>
          {{queryUser.totalComments}}
        </span>
      </button>
      <form action='/user/{{queryUser.id}}' method='POST'>
        <button type='submit' class='btn position-relative'>
          <span class="bg-dark badge">Followers: {{queryUser.Followers.length}}</span>
        </button>
      </form>
      <form action='/user/{{queryUser.id}}' method='POST'>
        <button type='submit' class='btn position-relative'>
          <span class="bg-secondary badge">Followings: {{queryUser.Followings.length}}</span>
        </button>
      </form>
    </div>

  </div>
</div>

<div class='row'>
  <div class='col-12'>
    <div class='card mb-3'>
      <div class='card-header'>{{queryUser.restaurantComments.length}}
        Commented restaurants</div>
      <div class='card-body'>
        {{#each queryUser.restaurantComments}}
          <a
            href='/restaurant/{{this.Restaurant.id}}'
            class='text-decoration-none'
          >
            <img
              src={{this.Restaurant.image}}
              width='60'
              height='60'
              class='avatar'
              style='transition: opacity 0.5s; opacity:0;'
              onload='this.style.opacity=1;'
            />
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>